<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>공지사항 등록</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="layout.css" th:href="@{/css/layout.css}" rel="stylesheet">

	<th:block layout:fragment="script">

		<script th:inline="javascript">
			function modify() {

				var data=$("#form").val();
			
				var messageDTO={
					result:data
				};
			
				$.ajax({
					url: "/board/update",
					data: messageDTO,
					type:"POST",
				success:function (f) {
					location.href = "/board/list";
				},
				error:function(xhr, status) {
                alert(xhr + " : " + status);
            	}
			
			});
		}

		</script>

	</th:block>

</head>
<body>
<div class="container">
	<h4>공지사항 상세화면</h4>
	<form th:action="@{/board/write}" role="form" id="form" name="form" method="post" th:object="${board}">
		<input type="hidden" th:field="*{id}">
		<div class="mb-3">
			<label  class="form-label">제목</label>
			<input type="text" class="form-control"
			       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}">
			<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
				제목 에러 메세지
			</div>
		</div>

		<div class="mb-3">
			<label  class="form-label">작성자</label>
			<input type="text" class="form-control"
			       th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" id="username" th:field="*{username}" readonly>
			<div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
				작성자 에러 메세지
			</div>
		</div>

		<div class="mb-3">
			<label  class="form-label">내용</label>
			<textarea class="form-control"
			          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" id="content" th:field="*{content}" rows="3"></textarea>
			<div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
				내용 에러 메세지
			</div>
		</div>

		<div class="mb-3">
			<label  class="form-label">조회수</label>
			<input type="text" class="form-control"
			       th:classappend="${#fields.hasErrors('hit')} ? 'is-invalid'" id="hit" th:field="*{hit}" placeholder="조회수" readonly>
			<div class="invalid-feedback" th:if="${#fields.hasErrors('hit')}" th:errors="*{hit}">
				조회수 에러 메세지
			</div>
		</div>

		<div class="mb-3">
			<input type="text" hidden="hidden" class="form-control" id="regTime" name="regTime">
			<input class="form-control" hidden="hidden" type="text" searchQuery=${param.searchQuery}>
		</div>

		<button  class="btn btn-primary" onclick="modify">수정</button>
		<a type="button" class="btn btn-primary" th:href="@{/board/delete(id=${board.id})}">삭제</a>
		<a type="button" class="btn btn-danger" th:href="@{/board/list}">목록</a>

	</form>
</div>
</body>
</html>